root = true

[*]
charset = utf-8-bom
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.csproj]
indent_size = 2

[*.sln]
indent_style = tab

[*.{md,txt}]
insert_final_newline = false
trim_trailing_whitespace = false
